body{
    background: white;
}
ul{
    list-style: none;  
} 

.header1{
    display: flex; 
    justify-content: space-between;
    height: 30px;
    align-content: start;
    margin-top: 10px;
}
header a{
    font-size: 11px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
    font-family: arial,sans-serif;
    line-height: 24px;
    align-items: center;
}

header a:hover{
    color: #000;
    opacity: 0.75;
    text-decoration: underline;
}
.apps{
    display: inline-block;
    padding: 0px 10px 0px 0px; 
    height: 20px;
    width: 20px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -135px -42px;
    margin-top: 1px;
    opacity: .55;
    position: relative;
}

header div{
    display: inline-block;
}
header li {
    display: inline-block;
}

.nav-1{
    display: inline-block; 

}

.nav-2{
    display: flex;
    align-items: center;
    padding-right: 30px;
}

header img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.about{
    padding-right: 5px;
}
.gmail{
    padding-right: 5px;
}
.images{
    padding-right: 5px;
}
.apps{
    padding-right: 35px;
}

.logo{
    display:flex;
    text-align: center;
    justify-content: center;
    padding-top: 141px;
}
img{
    width: 271.76px;
    height: 91.99px;
}

.search-bar{
    width: 50%;
    
}
form i{
    position: absolute;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .input{
    padding-left: 2.375rem;
    width: 526px;
    height: 34px;
    border-radius: 20px;
    border-width:1px;
    border-style: solid;
    border-color: rgb(240, 235, 236);
    height:40px;
}

.search .input:hover{
    display:flex;
    border-width:2.5px;
}


.search .search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-right: 500px;
}

.buttons{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.content{
    font-size: 12px;
    font-family: arial,sans-serif;
    background-color: rgb(248, 249, 250);
    border-style: solid;
    border-color: rgb(248, 249, 250);
}

.padding{
    margin-right: 15px;
    margin-top: 10px;
}



.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    background-color: #f2f2f2;
}

footer a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

footer div {
    display: inline-block; 
}
footer li {
    display: inline-block;
}

.footer-1{
    display: inline-block;
}

.footer-2{
    float:right;
}
